.page-header {
background-color: #33333D;
color:#fff;
width: inherit;
height: 50px;
border-radius: 6px;
}
.page-header h1{
  width: inherit;
  height: inherit;
  padding-top: 7px;
  text-align: center;
}
