bleach==2.1
chardet==3.0.4
coverage==4.4.1
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.11.5
django-autocomplete-light==3.2.10
django-autoslug==1.9.3
django-bootstrap-pagination==1.6.2
django-chance==0.4.1
django-crispy-forms==1.6.1
django-images==0.4.3
django-media-albums==0.1.3
django-photologue==3.7
django-sortedm2m==1.5.0
django-tables2==1.11.0
django-tagging==0.4.5
django-taggit==0.22.1
ExifRead==2.1.2
gunicorn==19.7.1
html5lib==1.0b10
imagestore==3.0.0
Markdown==2.6.9
myks-gallery==0.6.1
olefile==0.44
Pillow==4.2.1
psycopg2==2.7.3.1
python-decouple==3.1
pytz==2017.2
six==1.11.0
sorl-thumbnail==12.3
South==1.0.2
static3==0.7.0
swapper==1.1.0
Unipath==1.1
webencodings==0.5.1
whitenoise==3.3.1
