{% extends 'messenger/base_messages.html' %}
{% load i18n %}

{% block title %}{% trans 'Caixa de Entrada' %}{% endblock %}

{% block page_header %}{% trans 'Caixa de Entrada' %}{% endblock %}

{% block container %}
  <div class="conversation">
    {% if messages %}
      {% for message in messages %}
        {% include 'messenger/includes/partial_message.html' with message=message %}
      {% endfor %}
    {% else %}
      <h4>{% trans 'Esse é o começo de uma grande conversa' %}</h4>
      <p>{% trans "Vamos começar!" %}</p>
    {% endif %}
    <li class="send-message"></li>
    <script type="text/javascript">window.onload = $('.conversation').scrollTop($('.conversation')[0].scrollHeight);</script>
  </div>
  <div class="chat-box">
    <img src="{{ user.profile.get_picture }}" class="picture">
    <form role="form" method="post" action="{% url 'send_message' %}" id="send">
      {% csrf_token %}
      <input type="hidden" name="to" value="{{ active }}">
      <input class="form-control" type="text" name="message" placeholder="Write a message..." maxlength="1000" autocomplete="off">
    </form>
  </div>
{% endblock container %}
